<div local-class="container">
  <a href="mailto:hawker.jordan@gmail.com">{{fa-icon 'envelope' size=5}}</a>
  <a href="http://jhawk.co/JHGitHub" target="_blank">{{fa-icon 'github' size=5}}</a>
  <a href="http://jhawk.co/JHTwitter" target="_blank">{{fa-icon 'twitter' size=5}}</a>
  <a href="http://jhawk.co/JHFbook" target="_blank">{{fa-icon 'facebook' size=5}}</a>
  <a href="http://jhawk.co/JHGplus" target="_blank">{{fa-icon 'google-plus' size=5}}</a>
  <a href="http://jhawk.co/JHLinked" target="_blank">{{fa-icon 'linkedin' size=5}}</a>
  <a href="http://jhawk.co/JHStackOverflow" target="_blank">{{fa-icon 'stack-overflow' size=5}}</a>
  <a href="http://jhawk.co/JHSoundCloud" target="_blank">{{fa-icon 'soundcloud' size=5}}</a>
  <a href="http://jhawk.co/JHYouTube" target="_blank">{{fa-icon 'youtube' size=5}}</a>
</div>