<div>
  <span local-class="title">
    <h4>
      <a href="{{repo.htmlUrl}}" target="_blank">{{repo.name}}</a>
      {{fa-icon 'star' size=1}} {{repo.stargazersCount}}
    </h4>
  </span>
  <p><strong>{{repo.description}}</strong></p>
  <p>Last Updated: {{moment-format repo.updatedAt 'MM/DD/YYYY'}}</p>
</div>