<p local-class="text">"{{recommendation.text}}"</p>
<div local-class="recommender">
  <strong>
    {{recommendation.firstName}} {{recommendation.lastName}},
    {{recommendation.role}} - {{recommendation.company}}
  </strong>
</div>