<div local-class="arrow left-arrow" {{action 'moveLeft'}}>
  {{fa-icon 'angle-left' size=2}}
</div>
{{yield mainItem}}
<div local-class="arrow right-arrow" {{action 'moveRight'}}>
  {{fa-icon 'angle-right' size=2}}
</div>