{{#if user}}
  <span local-class="header">
    <img local-class="logo" src={{user.profileImageUrl}}/>
    <span local-class="title">{{user.displayName}}</span>
    <a href="{{url}}" target="_blank">{{fa-icon 'twitch' size=(if media.isMobile 1 2)}}</a>
  </span>
  <p local-class="description">{{user.description}}</p>
{{/if}}

{{#each videos as |video|}}
  <a href="{{video.url}}" target="_blank">
    <img src="{{video.thumbnailImg}}"/>
  </a>
{{/each}}