<span local-class="header">
  <img local-class="logo" src={{user.profileImageUrl}}/>
  <span local-class="title">{{user.displayName}}</span>
  <a href="{{url}}" target="_blank">{{fa-icon 'twitch' size=2}}</a>
</span>
<p>{{user.description}}</p>
