{{#if media.isMobile}}
  {{header-nav}}
{{else}}
  {{header-bar}}
{{/if}}
<div class="container">
  {{#if (not media.isMobile)}}
    {{left-nav}}
  {{/if}}
  <main id="content">
    {{outlet}}
  </main>
</div>
{{bug-widget url='https://github.com/elwayman02/jordan-hawker/issues/new'}}