<div class="fluid-container">
    {{view 'header'}}

    <div id="main-container" class="row">
        <div id="navbar" class="col-xs-12 col-sm-2">
            {{view 'navbar'}}
        </div>
        <div id="main" class="col-xs-11 col-sm-9" role="main">
            {{outlet}}
        </div>
    </div>

    {{view 'footer'}}
</div>

{{bug-widget url='https://github.com/elwayman02/jordan-hawker/issues/new'}}
