<div class="blog">
  {{newsletter-signup}}

  {{#if model.isLoaded}}
    {{tumblr-blog
      posts=model
      postsRoute='post'
      collapsible=true
      formatDates=true
      sortBy=sortBy}}
  {{else}}
    {{placeholder-post}}
    {{placeholder-post}}
    {{placeholder-post}}
  {{/if}}
</div>