{{!#liquid-spacer growDuration=200}}
    <div class="post">
        <div class="title">
            {{#link-to 'post' id}}
                <h4>{{title}}</h4>
            {{/link-to}}
        </div>
        <div class="date">{{format-date date day="numeric" month="long" year="numeric"}}</div>
        <div class="body {{if view.isExpanded '' 'collapsed'}}">{{{body}}}</div>
        {{#unless view.alwaysExpanded}}
            <button {{action 'expand' target=view}} class="btn btn-sm btn-secondary right">{{view.expandText}}</button>
        {{/unless}}
    </div>
{{!/liquid-spacer}}
