{{#liquid-if view.showDescription class=view.rowClasses}}
    <div {{action 'toggleDescription' target=view}} class="tech-description-header">
        <a href="#">
            {{partial 'partials/brand-header'}}
            <i class="fa fa-minus"></i>
        </a>
    </div>
    <div class="tech-description-body">
        <div>
            <label>Site:</label>
            <a href="{{url}}" target="_blank">
                {{url}}
                <i class='fa fa-external-link'></i>
            </a>
        </div>
        <div>
            <label>Description:</label>
            <p>{{description}}</p>
        </div>
    </div>
{{else}}
    <div {{action 'toggleDescription' target=view}} class="tech-description-header">
        <a href="#">{{partial 'partials/brand-header'}}</a>
    </div>
{{/liquid-if}}
