<p>I stream on Twitch:</p>

<p>{{model.displayName}} <a href="http://jhawk.co/hellfire-twitch" target="_blank">{{fa-icon 'twitch' size=1}}</a></p>
<p>{{model.type}}</p>
<p>{{model.description}}</p>
<img src={{model.profileImageUrl}}/>